@{ 
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Dijeli</title>
</head>
<body>
    <div>
        @ViewBag.Error
        @ViewBag.Message
    </div>
</body>
</html>