
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VisestrukiParametri</title>
</head>
<body>
    <div> 
        @ViewBag.Param1;
        <br/>
        @ViewBag.Param2;
    </div>
</body>
</html>
